<!DOCTYPE html>
<html>
    <head>
        <title>Ascent Metrics</title>
        <meta charset="utf-8">
        <style>
            body {
                font-size: x-small;
            }

            .axis path, .axis line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;
            }

            .axis.x path, .axis.y path {
                stroke: black;
                opacity: 0.5;
            }

            .grid.x .tick line {
                stroke: black;
                opacity: 0.5;
            }

            .grid.y .tick line {
                opacity: 0.5;
            }

            .legend a {
                fill: steelblue;
                font-size: small;
            }

            .legend a:hover {
                text-decoration: underline;
            }

            .title {
                font-size: large;
                background-color: steelblue;
                text-align: left;
                color: white;
            }

            .line {
                fill: none;
                stroke-width: 2px;
            }
        </style>
    </head>
    <body></body>
    <script src="/static/metric/d3.min.js" charset="utf-8"></script>
    <script>
        // TODO: do refactoring and split into functions

        var margin = {top: 20, right: 400, bottom: 75, left: 50};
        var width = 1280 - margin.left - margin.right;
        var height = 600 - margin.top - margin.bottom;
        var padding = 5;

        var usecases = {{ usecases|safe }};
        console.debug(usecases);

        // reformat the date in each sample to not include time
        usecases.forEach(function (u) {
            u.metrics.forEach(function (m) {
                m.samples.forEach(function (s) {
                    s.date = d3.time.format("%Y-%m-%dT%X").parse(s.date);
                });
            });
        });

        // Get the min and max date ranges from the samples
        var minDate = d3.min(usecases, function (u) {
            return d3.min(u.metrics, function (m) {
                return d3.min(m.samples, function (s) { return s.date; });
            });
        });

        var maxDate = d3.max(usecases, function(u) {
            return d3.max(u.metrics, function (m) {
                return d3.max(m.samples, function (s) { return s.date; });
            });
        });

        var x = d3.time.scale()
            .domain([minDate, maxDate])
            .range([padding, width - padding]);

        usecases.forEach( function (u) {
            var colors = []; // color domain
            var scales = d3.map(); // own scale for every metric
            var lines = d3.map(); // own line for every metric
            u.metrics.forEach(function (m) {
                colors.push(m.name);

                var sampleDomain = d3.extent(m.samples, function (s) {return s.value;});
                if (m.min != null)
                    sampleDomain[0] = m.min;
                else
                {
                    // round the number down
                    var min = sampleDomain[0];
                    var mins = [ 0, 10, 50, 75, 100, 250, 500, 1000, 5000, 10000, 50000, 1000000 ];

                    mins.forEach( function (n) {
                        if (min > n)
                            sampleDomain[0] = n;
                    });
                }
                if (m.max != null)
                    sampleDomain[1] = m.max;
                else
                {
                    // round the number up
                    var max = sampleDomain[1];
                    var vals = [ 100000, 50000, 10000, 5000, 1000, 500, 250, 200, 160, 100, 80, 50, 10 ];

                    vals.forEach( function (n) {
                        if (max < n)
                            sampleDomain[1] = n;
                    });
                }

                if (!scales.has(m.name)) {
                    var scale = d3.scale.linear()
                        .domain(sampleDomain)
                        .range([height - padding, padding]);
                    scales.set(m.name, scale);
                }

                if (!lines.has(m.name)) {
                    var line =  d3.svg.line()
                        .interpolate("linear")
                        .x(function (s) {return x(s.date);})
                        .y(function (s) {return scales.get(m.name)(s.value);});

                    lines.set(m.name, line);
                }
            });

            var color = d3.scale.category10();

            var axisX = d3.svg.axis()
                .orient("bottom")
                .tickFormat(function (d) {return d3.time.format("%b %d %Y")(d);})
                .scale(x);

            var days = d3.time.days(minDate, d3.time.day.offset(maxDate, 1));

            axisX.tickValues(
                days.filter(function (d, i) {
                return i > 0 && i < days.length - 1 && i % 5 == 0;}));

            var line =  d3.svg.line()
                .interpolate("linear")
                .x(function (s) {return x(s.date);})
                .y(function (s) {return y(s.value);});

            d3.select("body")
                .append("div")
                .attr("class", "title")
                .html(u.name);

            var svg = d3.select("body").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + ", " + margin.top + ")");

            svg.append("g")
                .attr("class", "axis x")
                .attr("transform", "translate(0, " + height + ")")
                .call(axisX)
                .selectAll(".tick")
                .attr("transform", function (d) {return d3.select(this).attr("transform") + " rotate(45)";})
                .selectAll("text")
                .attr("y", 0)
                .attr("x", -9)
                .attr("dy", ".35em")
                .attr("transform", "rotate(-90)")
                .style("text-anchor", "end");

            var leftSide = true;
            var outside = true;
            var hasGrid = false;
            //var offset = 0;   // not currently used - for now only supporting 4 series on a graph
            u.metrics.forEach(function (m) {
                // determine the side of the graph to put the axis on
                // use this sequence for scales:
                // left/out, right/out, left/in, right/in
                // and if there are more start over and offset the ticks farther out (not supported yet)
                var orientation = "left";
                var transform = "translate(0, " + width + ",0)";
                if( leftSide )
                {
                    // determine if inside or outside
                    if( outside == false )
                        orientation = "right";

                    leftSide = false;
                }
                else
                {
                    transform = "translate(" + width + ",0)";
                    if( outside )
                        orientation = "right";
                    leftSide = true;
                }

                var metricScale = scales.get(m.name);

                var axisY = d3.svg.axis()
                    .orient(orientation)
                    .scale(metricScale)
                    .ticks(10);

                var textColor = color(m.name);

                // Add the axis
                svg.append("g")
                    .attr("class", "axis y")
                    .attr("transform", transform)
                    .call(axisY)
                    .selectAll("text")
                    .style("fill", textColor);

                // Add the grid lines - only add them for the first series
                if( hasGrid == false )
                {
                    svg.append("g")
                        .attr("class", "grid y")
                        .attr("transform", "translate(" + width + ")")
                        .call(axisY.tickFormat("").tickSize(width - padding, 0, 0))
                        .style("stroke", textColor);
                    hasGrid = true;
                }
            });

            svg.append("g")
                .attr("class", "graph");

            svg.append("g")
                .attr("class", "grid x")
                .call(axisX.tickFormat("").tickSize(height - padding, -padding, 0));

            var metric = svg.selectAll(".metric")
                .data(u.metrics)
                .enter()
                .append("g")
                .attr("class", "metric");

            var path = metric.append("path")
                .attr("class", "line")
                .attr("d", function (m) {return lines.get(m.name)(m.samples);})
                .style("stroke", function (m) {return color(m.name);});

            path
                .transition()
                .attr("stroke-dashoffset", 0)
                .each("end", function (d, i) {
                    var circles = metric.selectAll("circle")
                        .data(function (m) {return m.samples})
                        .enter()
                        .append("circle")
                        .attr("class", "plot")
                        .attr("cx", function (s) {return x(s.date);})
                        .attr("cy", function (s) {return scales.get(d3.select(this.parentNode).datum().name)(s.value);})
                        .attr("r", 0)
                        .on("mouseover", function (d, i) {
                            d3.select(this)
                                .transition()
                                .attr("r", 5);
                        })
                        .on("mouseout", function (d, i) {
                            d3.select(this)
                                .transition()
                                .attr("r", 2.5);
                        })
                        .style("fill", function (s) {return color(d3.select(this.parentNode).datum().name);})

                    circles
                        .append("title")
                        .text(function (s) {return s.value;});

                    circles
                        .transition()
                        .attr("r", 2.5);
            });

            var legend = svg.append("g")
                .attr("class", "legend")
                .attr("transform", "translate(" + (width + 50) + ", 100)")
                .selectAll("g")
                .data(u.metrics)
                .enter()
                .append("g")
                .attr("transform", function(d, i) {return "translate(0, " + i * 20 + ")";});

            legend.append("rect")
                .attr("width", 18)
                .attr("height", 18)
                .style("fill", function (m) {return color(m.name);});

            legend.append("a")
                .attr("xlink:href", function (m) {return m.url;})
                .append("text")
                .attr("x", 24)
                .attr("y", 9)
                .attr("dy", ".35em")
                .text(function (m) {return m.name + " (" + m.units + ")";});
        });
    </script>
</html>

<!-- vim: set et sw=4 ts=4: -->
